# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec

# Virtual environments
env/
.venv/
venv/
ENV/

# Poetry
poetry.lock

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
test-results/
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Misc
*.swp
*.swo

# Uvicorn reload artifacts
*.reload

# Ignore local settings
local_settings.py

# Env variables
.env